@import './normalize.scss';
@import './variables.scss';
@import './mixin.scss';

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('../../publish/fonts/PretendardVariable.woff2') format('woff2-variations');
}

* {
  margin: 0;
  font-family: 'Pretendard Variable', sans-serif;
  box-sizing: border-box;
}

html {
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 62.5%;
}

body {
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 1.6rem;
  background-color: $color-gray-10;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

.page {
  width: 100vw;
  height: 100vh;

  &.landing {
    background-color: $color-black-40;
    color: $color-white;
  }
}

.page.board {
  margin-left: 6.7rem;
  margin-top: 6rem;
  width: calc(100vw - 6.7rem);
  height: calc(100vh - 6rem);

  @include tablet {
    margin-left: 16rem;
    margin-top: 7rem;
    width: calc(100vw - 16rem);
    height: calc(100vh - 7rem);
  }

  @include desktop {
    margin-left: 30rem;
    width: calc(100vw - 30rem);
  }
}
