@import '@/styles/global.scss';

.wrap {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  flex-shrink: 0;
  border-radius: 0.8rem;
  background: $color-white;
  color: $color-black-20;

  @include tablet {
    padding: 2.8rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: 700;
    @include tablet {
      font-size: 2.4rem;
    }
  }

  h4 {
    color: $color-gray-40;
    font-size: 1.4rem;
    font-weight: 400;
    @include tablet {
      font-size: 1.6rem;
    }
  }
}
