@import '@/styles/global.scss';

.wrap {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header > svg {
  width: 2.2rem;
  height: 2.2rem;
}

.section-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  .section-title {
    color: $color-black-40;
    font-weight: 700;
    margin-right: 0.4rem;
  }
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
