@import '@/styles/global.scss';

.wrap {
  display: flex;
  flex-direction: column;

  gap: 2.1rem;

  @include tablet {
    gap: 2.4rem;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.7rem;
}

.control {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-end;
  align-self: flex-start;
  width: 16.8rem;

  & > span {
    color: $color-black-20;
    font-size: 1.2rem;
    line-height: normal;
  }

  @include tablet {
    gap: 1.6rem;
    width: 100%;

    & > span {
      font-size: 1.4rem;
    }
  }
}

// .control button:nth-child(3) {
//   display: none;

//   @include tablet {
//     display: flex;
//   }
// }
