@import '@/styles/global.scss';

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  margin: auto 1.2rem;
  height: inherit;
}

.suggestion {
  display: flex;
  gap: 0.8rem;
  color: $color-black-20;
  text-align: center;

  a {
    color: $color-primary;
    text-decoration-line: underline;
  }
}
