@import '@/styles/global.scss';
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;
  padding: 2.8rem;
  width: calc(100% - 2.4rem);
  height: 22rem;

  @include tablet {
    gap: 4.5rem;
    width: 54rem;
    height: 25rem;
  }
}
